.project-showcase{
  display: flex;
  flex-wrap: wrap;
  margin-inline-end: 2rem;
}
.project-card {
  width: 320px;
  height: 180px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  color: var(--cta-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 2.5rem; */
  transition: scale 300ms ease-in-out;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-inline-end: 2rem;
  margin-block-end: 2rem;
}

.project-card:hover {
    scale: 1.01;
}

.project-card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block-end: 5rem;
    opacity: 0;  
    height: 83px;
    transform: translateY(15%);
    transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.project-card:hover .project-card-body {
    /* transform: translateY(%); */
    border-radius: 0.5rem;
    background: linear-gradient(
    hsl(0 0% 0% / 0), 
    hsl(0 0% 0% / 0.2) 20%,
    hsl(0 0% 0% / 1));
    opacity: 1;
    /* height: 90px; */
}

.project-card:hover{
  background-blend-mode: darken;
}

.project-card-title {
    position: relative;
    text-align: center;
    width: max-content;
    color: var(--text-color);
    font-family:'Nunito', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.project-card-title::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--cta-color);
    transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 300ms;
    transform: scaleX(0);
    transform-origin: center;
}

.project-card:hover .project-card-title::after {
    transform: scaleX(1);
}

.project-card-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* justify-content: center; */
  padding-block-start: 3rem;
}

.project-icon {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-inline-start: 0.2rem;
  margin-inline-end: 0.2rem;
  filter: invert(100%);
}
.project-icon:hover, .project-icon:focus {
    filter:invert(56%) sepia(78%) saturate(4318%) hue-rotate(231deg) brightness(99%) contrast(98%);
}
.github {
  background-image: url("https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg");
}
.link {
  background-image: url("../../public/assets/link.svg");
}